<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="35" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="35" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->
    <!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>


    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ops"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".views.login.CustomSplashActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PromoteWebActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.LanguageSettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.ServiceAgreementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.AboutAppActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.ChangePSWActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.NotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.entry.BatteryEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.entry.VehicleEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.entry.BatteryShipActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.battery.BatteryRegisterActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->

        <activity
            android:name=".views.map.loc.BatteryLocActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.shop.ShopCreateActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:windowSoftInputMode="adjustPan" />-->
        <!--        <activity-->
        <!--            android:name=".views.workbench.shop.StockActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <!--        <activity-->
        <!--            android:name=".views.workbench.shop.ShopListActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <!--        <activity-->
        <!--            android:name=".views.workbench.device.DeviceSearchActivity"-->
        <!--            android:exported="true" />-->
        <activity
            android:name=".views.workbench.devicedetail.DeviceDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.device.MileageActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".views.monitor.VehicleSearchListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.payment.PaymentActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <!--        <activity-->
        <!--            android:name=".views.workbench.payment.CollectionAuditActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".views.workbench.qm.aftersalebind.AfterSaleBindActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.shop.StaticSaleActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".views.workbench.user.UserListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.user.UserSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.user.UserDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.QRCodeListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.QRCodeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.warehouse.devicetransport.DeviceTransportReceiveActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.workbench.warehouse.devicetransport.DeviceTransportIssueActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.warehouse.devicetransport.DeviceTransportDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.warehouse.deviceinventory.DeviceInventoryActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.offlineregister.OfflineUserRegisterActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.maintenance.MaintenanceBookActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.workbench.qm.repairrecord.RepairRecordActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.roadassistance.RoadSideAssistantActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name=".views.workbench.qm.unbind.UnbindActivityNew"-->
        <!--            android:exported="false"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".views.workbench.sales.manualreplace.MerchantReplaceActivityNew"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.equipmentsearch.EquipmentSearchActivityNew"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--        <activity-->
        <!--            android:name="com.okla.ops.views.workbench.battery.ScanSnQrCodeListActivity"-->
        <!--            android:exported="false"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.okla.ops.views.workbench.warehouse.devicetransport.DeviceTransportCreateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.sellbind.SellBindActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.rentbind.RentBindActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.depositrefund.DepositRefundActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.swapbind.SwapBindActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.installmentPayment.InstallmentPayActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.warehouse.DeviceTransorInVentorySearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.warehouse.deviceinventory.DeviceInventoryDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.sales.salesummary.SaleSummaryActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.entry.ShipSucActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.maintenance.MaintenanceSuccessActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.unbind.UnbindDeviceActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.roadassistance.RoadSideOrderDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.qm.roadassistance.RoadSideOrderDealActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.selectaddress.SelectAddressActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.selectaddress.SearchAddressActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.putawaycabinet.PutawayCabinetActivityNew"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".views.workbench.cabinetopt.CabinetOperateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.bluetoothauthorization.BluetoothAuthorizationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.bluetoothauthorization.BluetoothAuthorizationActivityNew"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.workbench.unshelve.UnshelveActivityNew"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.cabinetopt.CabinetAuthorizationOperateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.cabinetopt.CabinetOfflineDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.cabinetopt.CabinetOfflineFaultListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.cabinetopt.CabinetScanQrcodeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.workbench.entry.StationEntryActivity"
            android:exported="false" />
        <activity
            android:name=".views.workbench.bluetoothauthorization.BluetoothOperateActivityNew"
            android:exported="false" />
        <activity
            android:name=".views.workbench.bluetoothauthorization.BluetoothOperateActivity"
            android:exported="false" />
        <activity android:name=".views.workbench.vcu.VcuDeviceSearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".views.workbench.vcu.VcuControlActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>